<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.7:3306/twentyat</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">cloud</property>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/TwentyatGroup.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/ContactPerson.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/FriendsMapping.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/TwentyatUser.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/Message.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/Recipient.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
