<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://twentyatdev.czuhvjmopell.us-east-1.rds.amazonaws.com:3306/twentyat</property>
    <property name="hibernate.connection.username">twentyatuser</property>
    <property name="hibernate.connection.password">20twentyat</property>
     <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">5000</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>
  
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/TwentyatGroup.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/ContactPerson.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/FriendsMapping.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/TwentyatUser.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/Message.hbm.xml"/>
    <mapping resource="com/techingen/twentyatmailhandlerservice/entity/Recipient.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
